/**
 * The following styles get applied inside the editor only.
 */

.wp-block-create-block-mosne-hero {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 400px;

	.mosne-hero-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.mosne-hero-background-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}

	.mosne-hero-background-desktop {
		display: block;

		@media (max-width: 782px) {
			display: none;
		}
	}

	.mosne-hero-background-mobile {
		display: none;

		@media (max-width: 782px) {
			display: block;
		}
	}

	.mosne-hero-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		pointer-events: none;
	}

	.mosne-hero-content {
		position: relative;
		z-index: 3;
		width: 100%;
		padding: 2rem;
		color: #fff;
		text-align: center;

		> * {
			margin: 0;
		}
	}
}
