/**
 * Styles for mobile image in cover block variation.
 */

.wp-block-cover.has-mobile-image {
	.mosne-hero-mobile-image {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

		@media (max-width: 782px) {
			display: block;
		}
	}

	.mosne-hero-desktop-image {
		@media (max-width: 782px) {
			display: none !important;
		}
	}
}

